code.sourceCode {
  font-size: 1em;
}

code {
  font-size: 0.25em;
}

.small-code code.sourceCode {
    font-size: 0.25em;
}

/*This controls output of code chunks*/
.cell-output-display {
  font-size: 0.8em;
}

/*Specific class for question at the end*/
.question {
  font-size: 3em;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #26689E;
}

/* Specific class to place fig bottom */
.bottom-fig {
  position: absolute;
  bottom: 0;
}

.caption{
   text-align: center;
}

.larger2 {
  font-size: 3.5em;
}